body{
	font-family: monospace;
}
textarea{
	resize: none;
}

.form-signin{
	width: 300px;
	margin: auto;
}
.form-control{
	margin-bottom: 10px;
}

.form-heading{
	text-align: center;
}
.hello{
	display: block;
    text-align: right;
    padding-right: 30px;
}